/*
title: number sequence game
author: soundar surya
*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 80px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 100px;
    font-size: 30px;
    text-align: center;
  }

.sequenceBox{
    margin:  20rem 10rem 10rem 40rem;
    width: 500px;
    border: 1px solid rgb(223, 209, 209);
    padding: 10px 10px 20px 10px;
    border-radius: 2px;
}

.submit{
    background: rgb(74, 224, 40);
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: rgb(247, 245, 240);
    margin-top: 1rem;
    margin-left: 14rem;
}

#Sequence-textBox{
    margin-left: 10rem;
}

.Caption{
    margin-left: 11.5rem;
}

.scoreBox{
    margin:  20rem 10rem 10rem 45rem;
    width: 200px;
    border: 1px solid rgb(223, 209, 209);
    padding: 10px 10px 20px 60px;
    border-radius: 2px;
}

#scoreField1, #scoreField2, .scoreField3{
    border-radius: 3px;
    border: none;
    padding: 10px;
    margin-top: 1rem;
}

#scoreField1{
    width: 4rem;
    background: chartreuse;
    color: white;
}
#scoreField2{
    width: 4rem;
    background: rgb(221, 56, 15);
    color: white;
}
.scoreField3{
    background: rgb(0, 145, 255);
    color: white;
}

#home{
    font-size: 12px;
    /* text-decoration: none; */
    color: black;
    margin-left: 1px;
}

.card{
    margin:  10rem 10rem 10rem 45rem;
    width: 400px;
    height: 400px;
    border: 1px solid rgb(223, 209, 209);
    padding: 10px 10px 20px 60px;
    border-radius: 2px;
}

#start{
    text-decoration: none;
    color: white;
    position: absolute;
    margin:0.4rem 0rem 0rem 1rem !important;
}

#button{
    background: rgb(44, 118, 228);
    color:white;
    border: none;
    border-radius: 5px;
    width: 4rem;
    height: 2rem;
    margin-left: 9rem;
}

#guide{
    margin-left: 7rem;
}